{% extends "home/base.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'home/stylesheet/style_thewriter.css' %}">
    
{% endblock extrastyle %}  



{% block content %}

<div class="hero-text">
    <h1 id="TWh1">The Writer</h1>
</div>

<div class="category-navigation"></div>

<div class="container">
    <div class="content-wrap">
        {% for post in top_story %}
        <div class="top-story">
            <a href="{{ post.slug }}" class="top-content">
                <div class="top-title">
                    {{ post.title }}
                </div>
                <div class="top-category">{{ post.category }}</div>
                {% if post.image %}
                <img src="{{ post.image.url }}">
                {% else %}
                <img src="{% static 'home/pics/main-pics/github.png' %}">
                {% endif %}
            
            </a>
            {% endfor %}
        </div>
        <div class="secondary-container">
            {% for post in secondary_stories %}
            <div class="secondary-story">
                <div class="secondary-title"> {{post.title}} </div>
                <div class="secondary-category"> {{post.category}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="other-container">
        <h2 class="h2-other-stories"> Other stories</h2>
        {% for i in other_stories %}
            <div class="other-stories">
                <div class="other-header">
                    <div class="other-title">
                        <h2>{{i.title}}</h2>
                    </div>
                    <div class="other-image"><img src="{{i.image.url}}"></div>
                </div>
                <div class="other-footer">
                    <div class="other-category">{{i.category}}</div>
                    <div class="other-date">{{i.date_posted}}</div>
                </div>    

            </div>
        {% endfor %}
</div>

    

{% endblock content %}