@font-face {
    font-family: 'signika';
    src: url('..\\fonts\\Signika-Bold.ttf');
}
@font-face {
    font-family: 'NotoSerif';
    src: url('..\\fonts\\Noto_Serif\\NotoSerif-Regular.ttf');
}

.detailed-post {
   padding-left: 15px;
   padding-right: 15px;
   width: 100%; 
}
.back-to-articles {
    display: inline-block;
    font-family: "JetBrains Mono";
    margin-top: 15px;
    background-color:  black;
    border-radius: 5px;
    padding: 2px;
    border: 2px solid black;
}
.back-to-articles a {
    text-decoration: none;
    color: white; 
}
.image-description {
    color: rgb(52, 52, 52);
    font-family: "NotoSerif";
    font-size: 15px;
}
h1 {
    font-family: 'signika';
    font-size: 36px;
    line-height: 125%;
    margin: 20px 0 12px;
    padding-bottom: 12px;
    border-bottom: 3px solid rgb(217, 217, 217);
}
.authory {
    font-family: 'JetBrains Mono';
}
.main-image img {
    width: 100%;
    height: auto;
}
.summary{
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 20px;
}
.summary p {
    font-size: 20px;
    font-family: "JetBrains Mono";
    margin-top: 2%;
}

.body p {
    font-family: "NotoSerif";
    line-height: 26pt;
}
.body img{
    width: 100%;
}

.where-to-share{
    display: flex;
    flex-direction: row;
}
.where-to-share a {
    color: black;
}

.timetoshare {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}
.timetoshare h2 {
    font-family: 'JetBrains Mono';
}
.timetoshare i {
    margin-right: 15px;
    border: 2px solid black;
    padding: 8px;
    border-radius: 25px;
}


@media only screen and (min-width: 800px) {

    h1 {
        font-size: 50px;
    }
    .detailed-post{
        padding: 0px 100px 1em ;
    }
    .main-image {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;        
    }
    .main-image img {
        width: 50%;
        height: auto;
    }
    .summary {
        margin-bottom: 25px;
    }
}